<h1 class= "my-3">Log In</h1>
<% if flash[:notice] %>
  <p class="list-group-item shadow-sm p-3 my-2 bg-white">
    <%= flash[:notice] %>
  </p>
<% end %>  
<%= simple_form_for :user, url: sessions_path do |f| %>
  <%= f.input :email, as: :string %>
  <%= f.input :password, as: :password %>
  <%= f.submit 'Log in', class: "btn btn-primary" %>
<% end %>
