<div class="list-group mt-5">
  <% articles.each do |article| %>
    <div class="list-group-item list-group-item-action border shadow-sm p-3 my-2 bg-white">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= link_to article.title, article_path(article), class: "article-title" %></h5>
        <small><%= article.days_ago %></small>
      </div>
      <small><%=link_to article.user.username, user_path(article.user.to_param) %></small>
      <div class="d-flex w-100 justify-content-between">
        <p class="mb-1"><%= article.content[0..20]%></p>
        <small>
          <%= article.likes.count %>
          <% if  current_user &&  article.user != current_user %>
            <% if article.liked?(current_user) %>
              <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, like_path(find_like(article)), method: :delete %>
            <% else %>
              <%= link_to '<i class="far fa-thumbs-up"></i>'.html_safe, article_likes_path(article), method: :POST %>
            <% end %>
          <% else %>
            <i class="far fa-thumbs-up"></i>
          <% end %>
        </small>
      </div>
    </div>
  <% end %>
</div>


<%# if current_user && article.user != current_user && !(article.users.include? current_user) %>
  <%#= link_to "like", article_likes_path(article), method: :POST %>
<%# elsif (article.users.include? current_user)  && article.user != current_user %>
  <%## <%#= raise %>
  <%#= link_to "like", like_path(find_like(article)), method: :delete %>
<%# else %>
  <%#= "like"  %>      
<%# end %>

